$background: #FAFAFA;
$color-male: #6babe5;
$color-female: #ecadb8;
$primary: #3EB4E5;
$action: #FD8000;
$macho: #3A95B0;
$hembra: #C64191;
$navbar-default-bg: transparent;
$navbar-default-border: transparent;
