$background: #e1f3f5;
$color-male: #6babe5;
$color-female: #ecadb8;

.vcenter {
  vertical-align: middle;
  float: none;
}

body{
	font-family: 'delicious_smallcapsregular', sans-serif;
  margin-left:0px;
  margin-right:0px;
  padding:0;
  background-color: $background;
}


  #header{
    text-align: center;
    background-position: center;
    height:150px;
  }

  #headerContainer{
  background-color: #00B9EF;
  background-image: url("../img/galguifeliz75.jpg");
  height:400px;
  background-repeat: repeat-x;
  background-position-y: -247px;
  background-size: cover;
}


@media all and (max-width: 420px){
  h1{
    text-align: center;
    font-size: 2em;
  }
}
h1, h2, h3, h4{
  font-family: 'chunkfiveroman', sans-serif;
}

.btn{
  font-family: 'delicious_smallcapsregular', sans-serif;
  font-style: bold;
}
.row{
    margin-right:0 !important;
    margin-left:0 !important;
}

#logo{
  position: relative;
  top:80%;
}

#menu li{
    text-transform: uppercase;
}
#menu a:hover{
  text-decoration: none;
}

#menu ul{
  list-style-type: none;
  padding:0px;
  margin: 0px;
}

#menu li{
  display: inline-block;
  padding:10px;
  font-family: 'chunkfiveroman', sans-serif;
}

#menuSmall{
  margin-top: 6em;
  text-align: center;
}

#menuLeft{
  margin-top: 1em;
  text-align: left;
  padding: 0px;
  width: 92%;
  ul{
      text-align: center;
  }
  li{
    //   width: 24%;

      text-align: center;
  }
  hr{
      width: 100%;
      float: left;
  }
 }

#menuRight{
  margin-top: 1em;
  text-align: right;
  float: right;
  padding: 0px;
  width: 92%;
  ul{
      text-align: center;
  }
  li{
    //   width: 33%;
      text-align: center;
  }
}

#hrMenuRight{
  float: right;
  width: 100%;
}

hr{
  border-color: black;
}

.separador{
  margin-top: 4em;
  margin-bottom: 2em;
  .medio{
    width: 50%;
  }
}



.tarjetaEnAdopcion{
    margin: 1em 0;

    .fotoAnimal{
        display: block;
        margin: 0 auto;
        background-color: red;
        width: 140px;
        height: 140px;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center !important;
    }
  .desc{
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .macho{
    background-color: $color-male;
  }

  .hembra{
    background-color: $color-female;
  }

}



#porquelosGalgos img{
  margin-top: 5em;
}

#intro{
    margin-top: 2em;
}
@media all and (max-width: 420px){
  #comoAyudar{
    margin-top: 2em;
    margin-bottom: 2em;
  }

  #comoAyudar div{
    margin-bottom: 2em;
  }

  #porquelosGalgos h1{
  margin-bottom: 1em;
  }

  #intro h1{
    margin-bottom: 1em;
  }
}

#comoAyudar{
  text-align: center;
}

.justificado{
  text-align: justify;
}

#error404{
  text-align: center;
}

#botonVerde{
  background-color: #8caa73;
  border-color: #637f4d;
}

#botonVioleta{
  background-color: #7b61d8;
  border-color: #644bbe;
}

#botonNaranja{
  background-color: #e45141;
  border-color: #b64134;
}

#botonAzul{
  background-color: #477eec;
  border-color: #3360bc;
}

#botonAmarillo{
  background-color: #e5db30;
  border-color: #c2b924;
  color:black;
}

@media all and (max-width: 420px){
  #footer div{
    margin-bottom: 1em;
  }
  #footer{
    margin-top: 1em;
    background-color: #1bb7cd;
    padding-top: 2em;
    text-align: center;
  }
}
@media all and (min-width: 420px){
  #footer{
  margin-top: 2em;
  background-color: #1bb7cd;
  padding-top: 4em;
  padding-bottom: 2em;
  text-align: center;
  }
}

#donaciones{
  text-align: center;
}


#perfilAnimal{
    .genero, .edad{
        font-size: 56px;
    }
}

#formularioAdopcion, #formularioContacto, #queres-ofrecerte{
    h1{
        margin-bottom: 40px;
    }
    .form-group{
        margin-bottom: 40px;
    }
    button{
        margin-top: 40px;
    }
    .message{
        opacity: 1;
        z-index: 999;
        position: absolute;
        margin: 2em 2em;
    }
    .siendo-enviado{
        opacity: 0.2;
        cursor: wait;
    }
}

.modal-content{
    padding: 2em 0;

}
.center-modal {
    position: fixed;
    top: 10%;
    left: 18.5%;
    z-index: 1050;
    width: 80%;
    height: 80%;
    margin-left: -10%;
}

#queres-ofrecerte, #que-implica-ser-casa-de-transito, #casa-de-transito{
    margin-top: 2em;
}

#en-adopcion{
    h1{
        margin: 1em 0;
    }
    dir-pagination-controls{
        margin-top: 2em;
        display: block;
    }
}
