$background: #FAFAFA;
$color-male: #6babe5;
$color-female: #ecadb8;
$primary: #3EB4E5;
$action: #FD8000;

.vcenter {
  vertical-align: middle;
  float: none;
}
.flexslider {
    width: 100%;
    // height: 620px !important;
    overflow: hidden;
    border: 0 !important;
    margin: 0 !important;
}

.flexslider .slides img {
    width: 100%;
    height: auto !important;
    overflow: hidden;
}
body{
	font-family: 'delicious_smallcapsregular', sans-serif;
  margin-left:0px;
  margin-right:0px;
  padding:0;
  background-color: $background;
}


.box{
    background-color: white;
    position: absolute;
    width: 500px;
    height: 275px;
    top: 0;
    right: 10em;
    left: inherit;
    bottom: 0;
    overflow: hidden;
    margin: auto;
    opacity: 0.9;
    text-align: center;
    z-index: 99999;

    .btn{
        background-color: $action;
        border-color: $action;
        font-weight: bolder;
        margin-top: 1em;
    }
}
  #header{
    text-align: center;
    background-position: center;
    // height:150px;
  }

  #headerContainer{
  background-color: #00B9EF;
  // background-image: url("../img/galguifeliz75.jpg");
  // height:620px;
  background-repeat: repeat-x;
  background-position-y: -185px;
  background-size: cover;
  padding: 0;
}


@media all and (max-width: 420px){
  h1{
    text-align: center;
    font-size: 2em;
  }
}
h1, h2, h3, h4{
  font-family: 'chunkfiveroman', sans-serif;
}

.btn{
  font-family: 'delicious_smallcapsregular', sans-serif;
  font-style: bold;
}
.row{
    margin-right:0 !important;
    margin-left:0 !important;
}

#logo{
  position: absolute;
  top:1em;
  margin: 0 auto;
  z-index: 9999;
  right: 46%;
}

#menu-container{
    height: 100px;
}
#main-menu{
    height: 6em;
    padding-bottom:1.5em;
        position: absolute;
        bottom: 0;
      text-align: right;
      padding: 0px;
      width: 88%;
      left: 0;
      ul{
          text-align: right;
      }
      li{
        //   width: 24%;
            padding-right:30px;
          text-align: center;
      }
      hr{
          width: 100%;
          float: left;
      }
    li{
      display: inline-block;
      font-family: 'chunkfiveroman', sans-serif;
      text-transform: uppercase;
    }
}

#main-menu a:hover{
  text-decoration: none;
}

#main-menu ul{
  list-style-type: none;
  padding:0px;
  margin: 0px;

}

#menuSmall{
  margin-top: 6em;
  text-align: center;
}


hr{
  border-color: black;
}

.separador{
  margin-top: 4em;
  margin-bottom: 2em;
  .medio{
    width: 50%;
  }
}



.tarjetaEnAdopcion{
    margin: 1em 0;

    .fotoAnimal{
        display: block;
        margin: 0 auto;
        background-color: red;
        width: 140px;
        height: 140px;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center !important;
    }
  .desc{
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .macho{
    background-color: $color-male;
  }

  .hembra{
    background-color: $color-female;
  }

}



#porquelosGalgos img{
  margin-top: 5em;
}

#intro{
    margin-top: 2em;
    h1{
        margin: 1em 0 2em;
    }
    h2{
        margin: 2em 0 1em;
    }
    .col-xs-4{
        padding: 0 7px;
    }
    .jumbotron{
        padding:2em 2em;
        background-color: #F1F4F9;
        color: $action;
        .glyphicon{
            font-size: 4em;
        }
    }
}
@media all and (max-width: 420px){
  #comoAyudar{
    margin-top: 2em;
    margin-bottom: 2em;
  }

  #comoAyudar div{
    margin-bottom: 2em;
  }

  #porquelosGalgos h1{
  margin-bottom: 1em;
  }

  #intro h1{
    margin-bottom: 1em;
  }
}

#comoAyudar{
  text-align: center;
}

.justificado{
  text-align: justify;
}

#error404{
  text-align: center;
}

#botonVerde{
  background-color: #8caa73;
  border-color: #637f4d;
}

#botonVioleta{
  background-color: #7b61d8;
  border-color: #644bbe;
}

#botonNaranja{
  background-color: #e45141;
  border-color: #b64134;
}

#botonAzul{
  background-color: #477eec;
  border-color: #3360bc;
}

#botonAmarillo{
  background-color: #e5db30;
  border-color: #c2b924;
  color:black;
}

@media all and (max-width: 420px){
  #footer div{
    margin-bottom: 1em;
  }
  #footer{
    margin-top: 1em;
    background-color: #1bb7cd;
    padding-top: 2em;
    text-align: center;
  }
}
@media all and (min-width: 420px){
  #footer{
  margin-top: 2em;
  background-color: #1bb7cd;
  padding-top: 4em;
  padding-bottom: 2em;
  text-align: center;
  }
}

#donaciones{
  text-align: center;
}


#perfilAnimal{
    .genero, .edad{
        font-size: 56px;
    }
}

#formularioAdopcion, #formularioContacto, #queres-ofrecerte{
    h1{
        margin-bottom: 40px;
    }
    .form-group{
        margin-bottom: 40px;
    }
    button{
        margin-top: 40px;
    }
    .message{
        opacity: 1;
        z-index: 999;
        position: absolute;
        margin: 2em 2em;
    }
    .siendo-enviado{
        opacity: 0.2;
        cursor: wait;
    }
}

.modal-content{
    padding: 2em 0;

}
.center-modal {
    position: fixed;
    top: 10%;
    left: 18.5%;
    z-index: 1050;
    width: 80%;
    height: 80%;
    margin-left: -10%;
}

#queres-ofrecerte, #que-implica-ser-casa-de-transito, #casa-de-transito{
    margin-top: 2em;
}

#en-adopcion{
    h1{
        margin: 1em 0;
    }
    dir-pagination-controls{
        margin-top: 2em;
        display: block;
    }
}


@media only screen and (max-width : 1200px) {

    .box{
        // background-color: green;
        width: 500px;
        height: 275px;
        z-index: 99999;
    }

}

@media only screen and (max-width : 979px) {
    .box{
        h2{
            font-size: 25px ;
            margin-top: 10px;
        }

        // background-color: red;
        width: 500px;
        height: 215px;
        right: 7em;
        z-index: 99999;
        padding: 10px 0 20px 0;


        .btn{
            font-size: 15px;
        }
    }

}

@media only screen and (max-width : 767px) {
    .box{
        display: flex;
        position:absolute;
        // background-color: blue;
        width: 100%;
        height: 75px;
        z-index: 99999;
        right: 0;
        padding-right: 20px;
        top:inherit;
        h2{
            font-size: 13px;
            &:first-of-type{
                margin-left: 10px;
            }
            &:last-of-type{
                margin-right: 10px;
            }
        }

        .btn{
            font-size: 10px;
            margin-top: 1em;
        }
    }

}

@media only screen and (max-width : 480px) {
    .box{
        // background-color: yellow;
        width: 500px;
        height: 275px;
        z-index: 99999;
    }

}

@media only screen and (max-width : 320px) {
    .box{
        // background-color: purple;
        width: 500px;
        height: 275px;
        z-index: 99999;
    }

}
