$background: #FAFAFA;
$color-male: #6babe5;
$color-female: #ecadb8;
$primary: #3EB4E5;
$action: #FD8000;
$macho: #3A95B0;
$hembra: #C64191;
$navbar-default-bg: transparent;
$navbar-default-border: transparent;

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.fa{
    &-facebook{
        color: #3b5998;
    }

    &-twitter{
        color: #55acee;
    }
    &-size{
        &_small{
            font-size: 1.5em;
        }
        &_medium{
            font-size: 3em;
        }
        &_big{
            font-size: 6em;
        }
    }
}



.vcenter {
  vertical-align: middle;
  float: none;
}
.flexslider {
    width: 100%;
    // height: 620px !important;
    overflow: hidden;
    border: 0 !important;
    margin: 0 !important;
}

.flexslider .slides img {
    width: 100%;
    height: auto !important;
    overflow: hidden;
}
body{
  font-family: 'Open Sans', sans-serif;
  margin-left:0px;
  margin-right:0px;
  padding:0;
  background-color: $background;
}


.box{
    background-color: white;
    position: absolute;
    width: 500px;
    height: 275px;
    top: 0;
    right: 10em;
    left: inherit;
    bottom: 0;
    overflow: hidden;
    margin: auto;
    opacity: 0.9;
    text-align: center;
    z-index: 999;

    .btn{
        background-color: $action;
        border-color: $action;
        font-weight: bolder;
        margin-top: 1em;
    }
}
  #header{
    text-align: center;
    background-position: center;
    // height:150px;
  }

  #headerContainer{
  background-color: #00B9EF;
  // background-image: url("../img/galguifeliz75.jpg");
  // height:620px;
  background-repeat: repeat-x;
  background-position-y: -185px;
  background-size: cover;
  padding: 0;
}


h1, h2, h3, h4{
  // font-family: 'chunkfiveroman', sans-serif;
  font-weight: bold;
}

.btn{
  // font-family: 'delicious_smallcapsregular', sans-serif;
  font-style: bold;
}
.row{
    margin-right:0 !important;
    margin-left:0 !important;
}

.section{
    &-header{
        h1{
            margin: 1em 0 2em;
        }
        p{
            margin-bottom: 4em;
            font-size: 1.2em;
        }
    }
}
#logo{
    position: absolute;
    top: 1em;
    left: 1em;
    margin: 0 auto;
    z-index: 9999;
    width: 180px;
}


#menu-container{
    height: 100px;
}

.main-menu{
    height: auto;
    padding-bottom:1.5em;
    position: relative;
    bottom: 0;
    text-align: right;
    padding: 15px 15px;
    width: 100%;
    float:right;
    left: 0;
    &-top{
        // padding: 30px 30px 0 0;
        padding-right: 15px;
        .fa{
            margin: 0 2px;
            &:last-of-type{
                margin-right: 8px;
            }
        }
    }
    a:hover{
      text-decoration: none;
    }
    &-links{
        text-align: right;
        list-style-type: none;
        padding:0px;
        margin: 0px;
        display: inline-block;
        li{
            display: inline-block;
            // font-family: 'chunkfiveroman', sans-serif;
            text-transform: uppercase;
            padding: 30px 0.4% 10px;
            text-align: right;
        }
    }
    &-action{
        display: inline-block;
        .btn{
            padding: 5px 16px;

        }
        a{
            margin: 9px 0;
            color: white !important;
        }
    }
}


#menuSmall{
  margin-top: 6em;
  text-align: center;
}


hr{
  border-color: black;
}

.separador{
  margin-top: 4em;
  margin-bottom: 2em;
  .medio{
    width: 50%;
  }
}



.tarjetaEnAdopcion{
    margin: 1em 0;

    .fotoAnimal{
        display: block;
        margin: 0 auto;
        // background-color: red;
        width: 140px;
        height: 140px;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center !important;
    }
  .desc{
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .macho{
    background-color: $color-male;
  }

  .hembra{
    background-color: $color-female;
  }

}



#porquelosGalgos img{
  margin-top: 5em;
}

.destacado{
    padding: 3em 0 1em 0;
    &-body{
        // background-image: url('../img/adopcion/Yambao.jpg');
        background-position: center;
        background-size: cover;
        padding: 0;
    }
    &-aside{
        padding: 0;
    }
}

#intro{
    .jumbotron{
        height: 457px;
        .btn{
            position: absolute;
            // width: 27%;
            bottom: 30px;
            // left: 0;
            right: 20%;
        }
        .glyphicon{
            font-size: 2em;
        }
    }
    margin-top: 2em;
    // font-family: 'delicious_smallcapsregular', sans-serif;

    h2{
        margin: 0 0 2em 0;
    }
    .col-xs-4{
        padding: 0 7px;
    }
    .jumbotron{
        padding:2em 2em;
        background-color: #F1F4F9;
        color: $action;
        .glyphicon{
            font-size: 4em;
        }
    }
}
// @media all and (max-width: 420px){
//   #comoAyudar{
//     margin-top: 2em;
//     margin-bottom: 2em;
//   }
//
//   #comoAyudar div{
//     margin-bottom: 2em;
//   }
//
//   #porquelosGalgos h1{
//   margin-bottom: 1em;
//   }
//
//   #intro h1{
//     margin-bottom: 1em;
//   }
// }

#comoAyudar{
  text-align: center;
}

.justificado{
  text-align: justify;
}

#error404{
  text-align: center;
}

#botonVerde{
  background-color: #8caa73;
  border-color: #637f4d;
}

#botonVioleta{
  background-color: #7b61d8;
  border-color: #644bbe;
}

#botonNaranja{
  background-color: #e45141;
  border-color: #b64134;
}

#botonAzul{
  background-color: #477eec;
  border-color: #3360bc;
}

#botonAmarillo{
  background-color: #e5db30;
  border-color: #c2b924;
  color:black;
}

.porquelosGalgos-img{
    position: absolute;
    bottom: 0;
}
.ultimos-rescates{
    margin-bottom: 4em;
    .titulo{
        margin-bottom: 1em;
    }
    &-animal{
            font-weight: bold;
            text-align: center;
            font-size: 2rem;
            span{
                padding-bottom: 5px;
            }
            img{
                padding-bottom: 1em;
            }
            .macho{
                color: $macho;
                border-bottom: 5px solid $macho;
                width: 100%;
                display: block;
            }
            .hembra{
                color: $hembra;
                border-bottom: 5px solid $hembra;
                width: 100%;
                display: block;
            }
    }
}
.main-footer{
    padding: 0;
    color: white;
    &-call-to-action{
        background-color: #F1F4F9;
        text-align: center;
        padding: 30px 0;
        color:black;
        p{
            margin-bottom: 25px;
        }
        .fa{
            margin: 0 15px;
        }

    }
    &-links{
        background-color: #A0ADB5;
        padding: 20px 0px;
        a{
            text-transform: capitalize;
            color:white;
            &:hover{
                text-decoration: none;
            }
        }
        ul{
            text-align: left;
            list-style-type: none;
            padding:0px;
            margin: 0px;
            display: block;
            li{
                display: block;
                text-transform: capitalize;
                padding: 2px 0px;
                text-align: left;
                &:first-of-type{
                    font-weight: bolder;
                }
            }
        }
   }
   &-legales{
       background-color: #919DA9;
       p{
           padding: 25px 0;
       }
   }

}
// @media all and (max-width: 420px){
//   #footer div{
//     margin-bottom: 1em;
//   }
//   #footer{
//     margin-top: 1em;
//     background-color: #1bb7cd;
//     padding-top: 2em;
//     text-align: center;
//   }
// }
// @media all and (min-width: 420px){
//   #footer{
//   margin-top: 2em;
//   background-color: #1bb7cd;
//   padding-top: 4em;
//   padding-bottom: 2em;
//   text-align: center;
//   }
// }

#donaciones{
  text-align: center;
}


#perfilAnimal{
    .genero, .edad{
        font-size: 56px;
    }
}

#formularioAdopcion, #formularioContacto, #queres-ofrecerte{
    h1{
        margin-bottom: 40px;
    }
    .form-group{
        margin-bottom: 40px;
    }
    button{
        margin-top: 40px;
    }
    .message{
        opacity: 1;
        z-index: 999;
        position: absolute;
        margin: 2em 2em;
    }
    .siendo-enviado{
        opacity: 0.2;
        cursor: wait;
    }
}

.modal-content{
    padding: 2em 0;

}
.center-modal {
    position: fixed;
    top: 10%;
    left: 18.5%;
    z-index: 1050;
    width: 80%;
    height: 80%;
    margin-left: -10%;
}

#queres-ofrecerte, #que-implica-ser-casa-de-transito, #casa-de-transito{
    margin-top: 2em;
}

#en-adopcion{
    h1{
        margin: 1em 0;
    }
    dir-pagination-controls{
        margin-top: 2em;
        display: block;
    }
}



//------------RESPONSIVENESS---------------//


@media only screen and (min-width : 1201px) {

    #main-content-container{
        // background-color: red;
        // width: 90%;
    }

}

@media only screen and (max-width : 1200px) {

    #main-content-container{
        // background-color: green;
        #intro{
            .jumbotron{
                height: 455px;
                .btn{
                    // position: absolute;
                    // width: 27%;
                    // bottom: 0;
                    // left: 0;
                    // right: 0;
                }
            }
            .jumbotron .glyphicon{
                font-size: 3em;
            }
            h2{
                margin-top: 1em;
            }
        }
    }

    .main-menu{
        // background-color: green;
    }

    .box{
        // background-color: green;
        width: 500px;
        height: 275px;
    }

}

@media only screen and (max-width : 979px) {

    #main-content-container{
        // background-color: red;
        #intro{
            .jumbotron{
                height: 377px;
                .btn{
                    // position: absolute;
                    // width: 27%;
                    // bottom: 0;
                    // left: 0;
                    // right: 0;
                }
                .glyphicon{
                    font-size: 2em;
                }
            }
            h2{
                margin-top: 1em;
                font-size: 2em;
            }
            p{
                font-size: 18px;
            }
        }
    }

    #logo{
        width: 130px;
        top:2em;
    }

    .main-menu{
        // background-color: red;
        font-size: 11px;
    }

    .box{
        h2{
            font-size: 25px ;
            margin-top: 10px;
        }

        // background-color: red;
        width: 500px;
        height: 215px;
        right: 7em;
        z-index: 99999;
        padding: 10px 0 20px 0;


        .btn{
            font-size: 15px;
        }
    }

}

@media only screen and (max-width : 767px) {

    #main-content-container{
        // background-color: blue;
    }

    #logo{
        width: 90px;
        top:10em;
    }

    .main-menu{
        // background-color: blue;
        &-links{
            width: 75%;
            float: right;
            margin-right: 30px;
            margin-bottom: 30px;
        }
    }

    .box{
        display: flex;
        position:absolute;
        // background-color: blue;
        width: 100%;
        height: 75px;
        right: 0;
        padding-right: 20px;
        top:inherit;
        h2{
            font-size: 13px;
            &:first-of-type{
                margin-left: 10px;
            }
            &:last-of-type{
                margin-right: 10px;
            }
        }

        .btn{
            font-size: 10px;
            margin-top: 1em;
        }
    }

}

@media only screen and (max-width : 480px) {

    #main-content-container{
        // background-color: yellow;
    }

    .main-menu{
        // background-color: yellow;
    }

    .box{
        // background-color: yellow;
        width: 500px;
        height: 275px;
    }

}

@media only screen and (max-width : 320px) {

    #main-content-container{
        // background-color: purple;
    }

    .main-menu{
        // background-color: purple;
    }
    .box{
        // background-color: purple;
        width: 500px;
        height: 275px;
    }

}
