@import "colors";

//-------STYLE NAVBAR-----------//

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    min-height: 0;
    margin-bottom: 0;
    .nav{
        a{
            padding: 7.5px;
            font-size: 16px;
        }
    }

}

//-------SOCIAL ICONS-----------//

.fa{
    &-facebook{
        color: #3b5998;
    }

    &-instagram{
        color: #517fa4;
    }

    &-twitter{
        color: #55acee;
    }
    &-size{
        &_small{
            font-size: 1.5em;
        }
        &_medium{
            font-size: 3em;
        }
        &_big{
            font-size: 6em;
        }
    }
}
//-------SOCIAL ICONS-----------//
.vcenter {
  vertical-align: middle;
  float: none;
}

body{
  font-family: 'Source Sans Pro', sans-serif; font-weight: 400;
  // font-family: sans-serif;
  // font-family: 'Indie Flower', cursive;
  margin-left:0px;
  margin-right:0px;
  padding:0;
  background-color: $background;
}

body {
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}

#header{
    text-align: center;
    background-position: center;
}

#headerContainer{
  // min-height: 421px;
  background-color: #00B9EF;
  background-repeat: repeat-x;
  background-position-y: -185px;
  background-size: cover;
  padding: 0;
}


h1, h2, h3, h4{
  font-weight: bold;
}

.btn{
  font-style: bold;
}

.row{
    margin-right:0 !important;
    margin-left:0 !important;
}

.section{
    &-header{
        h1{
            margin: 1em 0 2em;
        }
        p{
            margin-bottom: 4em;
            font-size: 1.2em;
        }
    }
}

#logo{
    position: absolute;
    top: 1em;
    left: 1em;
    margin: 0 auto;
    z-index: 999999;
    width: 180px;
}


#menu-container{
    height: 100px;
}

hr{
  border-color: black;
}

.separador{
  margin-top: 4em;
  margin-bottom: 2em;
  .medio{
    width: 50%;
  }
}



.destacado{
    padding: 3em 0 1em 0;
    &-body{
        background-position: center;
        background-size: cover;
        padding: 0;
    }
    &-aside{
        padding: 0;
    }
}

#intro{
    .jumbotron{
        position: relative;
        // height: 457px;
        padding:2em 2em;
        background-color: $gris-azulado;
        color: $action;
        .glyphicon{
            font-size: 4em;
        }
        .btn{
            // position: absolute;
            // bottom: 30px;
            // right: 20%;
        }
        .glyphicon{
            font-size: 2em;
        }
    }
    margin-top: 2em;

    h2{
        margin: 0.5em 0 0.5em 0;
    }
    .col-xs-4{
        padding: 0 7px;
    }
    .media{
        margin: 0 -15px;
        &-body{
            width: 50%;
            color:white;
            padding: 3em;
            background: url('../../img/homeblue.jpg');
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            .lead{
                font-size: 16px;
            }
        }
        &-right{
            width: 50%;
            background: url('../../img/home.jpg');
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
        &-heading{
            padding-bottom: 0.5em;
        }
    }
}

#comoAyudar{
  text-align: center;
  .caja{
      padding: 3em 0;
      &-donacion{
          &-destacado{
              zoom:1.5;
          }
      }
  }
}

.justificado{
  text-align: justify;
}

#error404{
  text-align: center;
}

#botonVerde{
  background-color: #8caa73;
  border-color: #637f4d;
}

#botonVioleta{
  background-color: #7b61d8;
  border-color: #644bbe;
}

#botonNaranja{
  background-color: #e45141;
  border-color: #b64134;
}

#botonAzul{
  background-color: #477eec;
  border-color: #3360bc;
}

#botonAmarillo{
  background-color: #e5db30;
  border-color: #c2b924;
  color:black;
}

.porquelosGalgos-img{
    position: absolute;
    bottom: 0;
}

.tarjeta-animal{
    width: 25%;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    margin: 1em 0;
    a{
        text-decoration: none;
    }
    span{
        padding-bottom: 5px;
    }
    img{
        padding-bottom: 1em;
        margin: 0 auto;
        max-height: 300px;
    }
    .macho{
        color: $macho;
        border-bottom: 5px solid $macho;
        width: 18vw;
        margin: 0 auto;
        display: block;
    }
    .hembra{
        color: $hembra;
        border-bottom: 5px solid $hembra;
        width: 18vw;
        margin: 0 auto;
        display: block;
    }
    &-home{
        width: 20%;
    }
}

.ultimos-rescates{
    margin-bottom: 4em;
    .titulo{
        margin: 1em 0;
        text-align: left;
    }
}

#donaciones{
  text-align: center;
}


#perfilAnimal{
    .genero, .edad{
        font-size: 56px;
    }
}
.formulario-adopcion{
    margin-bottom: 2em;
}

#formularioAdopcion, #formularioContacto, #queres-ofrecerte{
    h1{
        margin-bottom: 40px;
    }
    .form-group{
        margin-bottom: 40px;
    }
    button{
        margin-top: 40px;
    }
    .message{
        opacity: 1;
        z-index: 999;
        position: absolute;
        margin: 2em 2em;
    }
    .siendo-enviado{
        opacity: 0.2;
        cursor: wait;
    }
    .fa-paper-plane-o{
        font-size: 12vw;
    }
}

.modal-content{
    padding: 2em 0;

}
.center-modal {
    position: fixed;
    top: 10%;
    left: 18.5%;
    z-index: 1050;
    width: 80%;
    height: 80%;
    margin-left: -10%;
}

#queres-ofrecerte, #que-implica-ser-casa-de-transito, #casa-de-transito{
    margin-top: 2em;
}

#en-adopcion{
    h1{
        margin: 1em 0;
    }
    dir-pagination-controls{
        margin-top: 2em;
        display: block;
    }
}


.squared-thumbnail {
  position: relative;
  width: 18vw;
  height: 200px;
  overflow: hidden;
  margin: 0 auto;
  &-perfil{
      height: 45vh;
      width: auto;
  }
}
.squared-thumbnail img {

  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.squared-thumbnail img.portrait {
  width: 100%;
  height: auto;
}

.seccion{
    margin: 3em 0;
}
