$background: #FAFAFA;
$color-male: #00a3e5;
$color-female: #e00c9d;
$primary: #3EB4E5;
$action: #f98017;
$orange: #f98017;
$macho: #3A95B0;
$hembra: #C64191;
$navbar-default-bg: transparent;
$navbar-default-border: transparent;
$gris-azulado: #f2f5f8;
