.media {
  // Proper spacing between instances of .media
  margin-top: 15px;

  &:first-child {
    margin-top: 0;
  }
  &-video{
      padding: 1em;
      border-radius: 20px;
      background-color: rgba(51, 122, 183, 0.51);
      border-color: #2e6da4;

      img{
          width: 100px;
      }
      span.media-left{
          margin: 0px !important;
          display: block;
      }
      .media-heading{
          font-size: 18px;
      }

      .media-body{
          font-size: 14px !important;
      }

      &:hover{
          -webkit-box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.75);
            box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.75);
            background-color: rgba(51, 122, 183, 0.70);
      }
  }
}


.media,
.media-body {
  zoom: 1;
  overflow: hidden;

}

.media-body {
  width: 10000px;
  padding: 15px;
  font-size: 19px !important;

}

.media-object {
  display: block;

  // Fix collapse in webkit from max-width: 100% and display: table-cell.
  &.img-thumbnail {
    max-width: none;
  }
}

.media-right,
.media > .pull-right {
  padding-left: 0px;
}

.media-left,
.media > .pull-left {
  padding-right: 10px;
}

.media-left,
.media-right,
.media-body {
  display: table-cell;
  vertical-align: top;
}

.media-middle {
  vertical-align: middle;
}

.media-bottom {
  vertical-align: bottom;
}

// Reset margins on headings for tighter default spacing
.media-heading {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 36px;
  padding-bottom: 1em;
}

// Media list variation
//
// Undo default ul/ol styles
.media-list {
  padding-left: 0;
  list-style: none;
}
