@media only screen and (min-width : 1201px) {

    #main-content-container{
        // background-color: red;
        // width: 90%;
    }

}

@media only screen and (max-width : 1200px) {

    #main-content-container{
        // background-color: green;
        #intro{
            .jumbotron{
                // height: 455px;
                .btn{
                    // position: absolute;
                    // width: 27%;
                    // bottom: 0;
                    // left: 0;
                    // right: 0;
                }
            }
            .jumbotron .glyphicon{
                font-size: 3em;
            }
            h2{
                margin-top: 1em;
            }
        }
    }

    .main-menu{
        // background-color: green;
    }

    .box{
        // background-color: green;
        width: 500px;
        height: 275px;
    }

    #comoAyudar{
      text-align: center;
      .caja{
          padding: 3em 0;
      }
    }

}

@media only screen and (max-width : 979px) {

    #main-content-container{
        // background-color: red;
        #intro{
            .jumbotron{
                // height: 377px;
                .btn{
                    // position: absolute;
                    // width: 27%;
                    // bottom: 0;
                    // left: 0;
                    // right: 0;
                }
                .glyphicon{
                    font-size: 2em;
                }
            }
            h2{
                margin-top: 1em;
                font-size: 2em;
            }
            p{
                font-size: 18px;
            }
            .media{
                &-body{
                    width: 100%;

                }
                &-right{
                    display: none;
                    width: 100%;
                }
            }
        }
    }

    #logo{
        width: 130px;
        top:2em;
    }

    .main-menu{
        // background-color: red;
        font-size: 11px;
    }

    .box{
        h2{
            font-size: 25px ;
            margin-top: 10px;
        }

        // background-color: red;
        width: 500px;
        height: 215px;
        right: 7em;
        z-index: 99999;
        padding: 10px 0 20px 0;


        .btn{
            font-size: 15px;
        }
    }

}

@media only screen and (max-width : 767px) {

    #main-content-container{
        // background-color: blue;
    }

    #logo{
        width: 130px;
        top:15px;
    }

    .navbar-default{
        display: inline-block;
        margin: 0;
        vertical-align: middle;
        .navbar-toggle{
            margin-right: 0;
        }
    }

    .main-menu{
        // background-color: blue;
        &-links{
            width: 75%;
            float: right;
            margin-right: 30px;
            margin-bottom: 30px;
        }
        &-top{
            display: inline-block;
            vertical-align: middle;
        }
    }

    .box{
        display: flex;
        position:absolute;
        // background-color: blue;
        width: 100%;
        height: 75px;
        right: 0;
        padding-right: 20px;
        top:inherit;
        h2{
            font-size: 13px;
            &:first-of-type{
                margin-left: 10px;
            }
            &:last-of-type{
                margin-right: 10px;
            }
        }

        .btn{
            font-size: 10px;
            margin-top: 1em;
        }
    }

}

@media only screen and (max-width : 480px) {

    #logo{
        width: 130px;
        top:15px;
    }

    #main-content-container{
        // background-color: yellow;
    }

    .main-menu{
        // background-color: yellow;
        .email-label{
            display: none;
        }
    }

    .box{
        // background-color: yellow;
        // width: 500px;
        // height: 275px;
        h2:last-of-type{
            display: none;
        }
    }

    #comoAyudar{
      text-align: center;
      .caja{
          width: 100%;
          margin: 0;
      }
    }

}

@media only screen and (max-width : 320px) {

    #logo{
        width: 53px;
    }

    #main-content-container{
        // background-color: purple;
    }

    .main-menu{
        // background-color: purple;
    }
    .box{
        // background-color: purple;
        // width: 500px;
        // height: 275px;
    }

}
