<div class="seccion" id="como-trabajamos">
    <div class="row" id="que-es-adopta">
          <div class="col-lg-10 col-lg-offset-1">
            <h1>¿Como trabajamos?</h1>
            <p class="lead">
                La Ong no recibe ningun tipo de subsidio, se mantiene solo por la colaboración de sus miembros y voluntarios.
                No tenemos refugio y consideramos que los hogares de tránsito son la manera ideal para recuperar un galgo maltratado mientras espera una familia definitiva.
            </p>
            <p class="lead">
                Cuando recibos un alerta de un galgo en apuros nos ponemos en búsqueda de una familia que pueda recibirlo en transito.
                Antes de ir a su hogar de transito el nuevo rescatado recibe un control veterinario y eventuales estudios que puedan ser necesarios. Con todas las indicaciones de los profesionales empieza su recuperación juntos a su familia de transito.
            </p>
            <p class="lead">
                Mientras tanto nos ponemos en búsqueda de una familia definitiva. El tránsito es una parte fundamental en la adaptación del perro que por lo general ha sufrido traumas y maltratos, para que pueda recuperarse físicamente, emocionalmente y adaptarse a las rutinas de la vida en familia. El vivir en familia permite que el galgo sea valorado mucho más eficazmente y así poder encontrarle más rápidamente el adoptante más adecuado para su perfil.
            </p>
          </div>
        </div>
      </div>
</div>