<div class="row perfil-animal-footer">
    <div class="col-xs-5 col-xs-offset-1">
        <div class="perfil-animal-texto">
            <h2 class="titulo">¿Como es el proceso de adopcion?</h2>
            <p>
                Primero sarasa  mayoría de las veces  nuestro contacto al resca primero sarasa  mayoría de las veces  nuestro contacto al resca primero sarasa  mayoría de las veces  nuestro contacto al resca primero sarasa  mayoría de las veces  nuestro contacto al resca
                Primero sarasa  mayoría de las veces  nuestro contacto al resca primero sarasa  mayoría de las veces  nuestro contacto al resca primero sarasa  mayoría de las veces  nuestro contacto al resca primero sarasa  mayoría de las veces  nuestro contacto al resca
            </p>
        </div>
    </div>
    <div class="col-xs-5">
        <div class="perfil-animal-texto">
            <h2 class="titulo">&nbsp;</h2>
            <p>
                Primero sarasa  mayoría de las veces  nuestro contacto al resca primero sarasa  mayoría de las veces  nuestro contacto al resca primero sarasa  mayoría de las veces  nuestro contacto al resca primero sarasa  mayoría de las veces  nuestro contacto al resca
                Primero sarasa  mayoría de las veces  nuestro contacto al resca primero sarasa  mayoría de las veces  nuestro contacto al resca primero sarasa  mayoría de las veces  nuestro contacto al resca primero sarasa  mayoría de las veces  nuestro contacto al resca
            </p>
        </div>
    </div>
</div>
