<div class="seccion" id="difundir">
    <div class="row">
          <div class="col-lg-2 col-lg-offset-1  hidden-xs hidden-sm">
            <img src="img/portada/2.jpg" alt="" class="img-circle" width="250px" height="250px"/>
          </div>
          <div class="col-lg-7 col-lg-offset-1">
            <h1>Difundir</h1>
            <p class="lead">
                Todos podemos aportar un granito de arena para la causa. Si no podes adoptar o transitar te pedimos que difundas nuestros galguitos rescatados para que logren encontrar una buena familia, que los cuide y respete.
            </p>
            <p class="lead">
                Podes difundir algunos casos desde nuestra página de Facebook o tambien nos podes ayudar imprimiendo estos afiches y dejarlos en las veterinarias y pet shops de tu zona. En formato A4, se puede imprimir en blanco y negro o color según tus posibilidades. Si todos ponemos nuestro granito de arena en esta causa más galguitos podrán encontrar un hogar y vivir la vida que realmente merecen.
            </p>
          </div>
        </div>
      </div>
</div>