<div class="seccion" id="donaciones" ng-controller="donaciones">
    <!-- <div class="row">
      <div class="col-lg-11 col-lg-offset-1">
        <h1>Gracias por ayudarnos!</h1>
        <p class="lead">
          Nosotros y sobre todo ELLOS, lo agradecen!<br />
          A continuacion te mostramos las formas en que podes ayudarnos.
        </p>
      </div>
    </div> -->
    <div class="row" id="donarDinero">
      <div class="col-lg-2 col-lg-offset-1">
        <img src="img/icons/money-donate.png" alt="" class="img-circle hidden-xs hidden-sm" width="250px" height="250px"/>
      </div>
      <div class="col-lg-7 col-lg-offset-1  text-left">
        <h1>Donar dinero</h1>
        <p class="lead text-left">
            Para poder continuar con nuestra acción, necesitamos de tu ayuda. La mayoría de los galgos rescatados llegan en muy malas condiciones y se necesita de visitas veterinarias, medicaciones y en muchos casos, operaciones. Además de castraciones, vacunación, desparasitación y alimentación de cada uno de los rescatados.
            Por esta razón agradecemos enormemente cualquier ayuda que puedas brindarnos.
        </p>
      </div>
    </div>
    <hr id="separador" />
    <div class="row" id="comoAyudar">
        <div class="col-sm-4 col-xs-6 col-sm-offset-0 caja caja-donacion">
          <img class="img-circle" src="img/icons/Arrow-reload.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Subscripcion Mensual</h2>
          <p>Ayudándonos con una donación mensual, la que puedas, aunque te parezca pequeña, la suma de voluntades hace cosas increíbles!</p>
          <form>
          <label>$&nbsp;&nbsp;</label><input step="50" size="5" name="subscriptionAmount" type="number" />
          <br/> <br/>
          <a class="btn btn-lg btn-primary" ng-click="donarSubscripcion()" role="button" id="botonNaranja">Subscribirse!</a>
          </form>
        </div>

        <div class="col-sm-4 col-xs-6 col-sm-offset-0 caja caja-donacion caja-donacion-destacado">
          <img class="img-circle" src="img/icons/Bank-icon.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Transferencia / Deposito</h2>
          <p>Es inmediata y gratuita, es la mejor opcion!</p>
          <a class="btn btn-lg btn-primary" ng-click="donarDeposito()" role="button" id="botonVerde">Donar!</a>
        </div>

        <div class="col-sm-4 col-xs-6 col-xs-offset-3  col-sm-offset-0 caja caja-donacion">
          <img class="img-circle" src="img/icons/mercadoPago.png" alt="Generic placeholder image" width="140" height="140">
          <h2>MercadoPago</h2>
          <p>Por cada donacion, se nos descuenta el 7% por gastos del servicio.</p>
          <form>
          <label>$&nbsp;&nbsp;</label><input name="monto_a_donar" value="100" ng-model="monto_a_donar" step="50" size="3" type="number" />
          <br/> <br/>
          <a class="btn btn-lg btn-primary" ng-click="donarMP()" role="button" id="botonAzul">Donar!</a>
          </form>
        </div>
    </div>
    </div></div><script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>