<div class="seccion" id="donar-insumos">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <h1>Donar insumos o alimentos</h1>
            <p class="lead">
                Si queres ayudarnos en la recuperación de los Galgos en tránsito podes donar:
            </p>
            <ul>
                <li>Alimento para adultos y cachorros </li>
                <li>Antiparasitarios</li>
                <li> Sulfatrin</li>
                <li> Giaccocide</li>
                <li>Pipetas</li>
                <li> Vendas tipo cambric</li>
                <li>Vendas Cohesivas Autoadherentes</li>
                <li>Cinta adhesiva</li>
                <li> Gasas</li>
                <li> Algodón </li>
                <li>Tramadol </li>
                <li>Previcox </li>
                <li>Meloxicam </li>
                <li>Cefalexina </li>
                <li>Amoxicilina </li>
                <li>Metronidazol</li>
                <li>Doxiciclina </li>
                <li>Dexametasona </li>
                <li>Suero </li>
                <li>Propolio </li>
                <li>Nitrofurazona en apositos o crema </li>
                <li>Ensure </li>
                <li>Correas</li>
                <li> Mantas y colchonetas</li>
            </ul>
            <p class="lead">
                <a ui-sref="contacto">Comunícate con nosotros</a> para acercar tu donación en nuestros puntos de acopio en Capital, Zona Norte o acercarlo a alguno de nuestros periódicos encuentros.
            </p>
        </div>
    </div>
</div>