<div class="container-fluid" ng-controller="GalgosEnAdopcion" id="en-adopcion">
    <div class="row text-center">
        <h1>Galgos en Adopcion Responsable</h1>
    </div>
    <div class="text-center">
        <div class="col-sm-3" dir-paginate="galgo in galgosEnAdopcion | filter:q | itemsPerPage: 8"  current-page="currentPage">
          <div class="tarjetaEnAdopcion">
            <div id="edad" ng-class="{'m': 'macho', 'h': 'hembra'}[galgo.genero]">
                <p></p>
            </div>
            <span class="img-circle fotoAnimal" style="background: url({{ apiEndpoint }}/static{{ galgo.fotos[0] }})"></span>
            <h2 ng-class="{'m': 'macho', 'h': 'hembra'}[galgo.genero]">{{galgo.nombre | limitTo : 9}}{{galgo.nombre.length > 9 ? '...' : ''}}</h2>
            <p class="desc">{{galgo.desc | limitTo : 30 }}{{galgo.desc.length > 30 ? '...' : ''}}</p>
            <span><a class="btn btn-primary" role="button" ng-click="mostrarTarjetaEnAdopcion(galgo.id)">Saber mas!</a></span>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="views/dirPagination.tpl.html"></dir-pagination-controls>
        </div>
    </div>
</div>
