<div class="row perfil-animal-footer">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="perfil-animal-texto">
            <h2 class="titulo">¿COMO ES EL PROCESO DE ADOPCIÓN?</h2>
            <p class="lead">
                Para adoptar primero enviamos un cuestionario que tiene como finalidad conocer un poco la dinámica familiar y a partir de ahí poder recomendarles el Galgo que más se acerca a su forma de vida,
                para que él y ustedes disfruten de una feliz convivencia y una gran experiencia.
                Sucesivamente se realiza una entrevista en el hogar donde viviría el galgo para conocernos, hablar sobre la responsabilidad de la adopción,
                que puedan hacernos todas las preguntas que necesite y chequear que el lugar sea seguro para la mascota.
                La adopción de un Galgo debe ser pensada y tomada muy seriamente. Al adoptar un animal se toma un compromiso por el resto de su vida.
            </p>
        </div>
    </div>
</div>

<div class="container-fluid" ng-controller="GalgosEnAdopcion" id="en-adopcion">
    <div class="row text-center">
        <h1>Galgos en Adopcion Responsable</h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <span class="perfil-animal-filtros">
                Filtrar por:
                <a ui-sref="en-adopcion({filter: '*'})" ui-sref-opts="{reload: true, notify: true}" ng-class="{'active': currentFilter == '*'}">TODOS</a> |
                <a ui-sref="en-adopcion({filter: 'a'})" ui-sref-opts="{reload: true, notify: true}" ng-class="{'active': currentFilter == 'a'}">ADULTOS</a> |
                <a ui-sref="en-adopcion({filter: 'c'})" ui-sref-opts="{reload: true, notify: true}" ng-class="{'active': currentFilter == 'c'}">CACHORROS</a> |
                <a ui-sref="en-adopcion({filter: 'h'})" ui-sref-opts="{reload: true, notify: true}" ng-class="{'active': currentFilter == 'h'}">HEMBRAS</a> |
                <a ui-sref="en-adopcion({filter: 'm'})" ui-sref-opts="{reload: true, notify: true}" ng-class="{'active': currentFilter == 'm'}">MACHOS</a> |
                <a ui-sref="en-adopcion({filter: 'buenos-aires'})" ui-sref-opts="{reload: true, notify: true}" ng-class="{'active': currentFilter == 'buenos-aires'}">BUENOS AIRES</a> |
                <a ui-sref="en-adopcion({filter: 'neuquen'})" ui-sref-opts="{reload: true, notify: true}" ng-class="{'active': currentFilter == 'neuquen'}">NEUQUEN</a>
            </span>
        </div>
    </div>
    <div class="text-center">
        <div class="tarjeta-animal" ng-if="galgosEnAdopcion.length != 0" dir-paginate="galgo in galgosEnAdopcion | itemsPerPage: 24"  current-page="currentPage">
            <span ng-if="!galgosEnAdopcion"><h2>No hay resultados para su busqueda.</h2></span>
          <a ui-sref="perfilAnimal({animalId: {{galgo.id}}})" class="ultimos-rescates-animal">
              <div ng-show="galgo.fotos[0]" class="squared-thumbnail" style="background: url({{apiEndpoint}}/static{{ galgo.fotos[0] }}) no-repeat center center; background-size:cover;">
                  <!-- <img src="" class="portrait" alt="Image" /> -->
              </div>
              <img ng-show="!galgo.fotos[0]" ng-src="{{apiEndpoint}}/static{{ galgo.fotos[0] }}" alt="" fallback-src loading-src/>
              <span ng-class="{'m': 'macho', 'h': 'hembra'}[galgo.genero]">{{galgo.nombre}}</span>
          </a>
        </div>
        <div class="text-center" ng-if="galgosEnAdopcion.length == 0" >
            <h2>Cargando...</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="views/dirPagination.tpl.html"></dir-pagination-controls>
        </div>
    </div>
</div>
