<div class="seccion" id="experiencia-de-voluntarios">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <h1>Experiencias de voluntarios</h1>
            <p class="lead">
                Muchas veces nos preguntan como son los galgos, si pueden vivir en departamento, conviven con otros perros y con gatos o si son perros agresivos.
                Notamos que es una raza todavía desconocida para muchos, desconocen el carácter dulce y afectuoso y sobre todo se ignora el maltrato que sufren.
                Para derribar mitos y poder informar acerca de esta maravillosa raza, nadie lo puede contar mejor de quienes decidieron compartir su vida con un galgo.
            </p>
            <p class="lead">
                Creamos esta seccion para poder compartir los testimonios de quienes se animaron a poner un galgo en su vida y se dieron cuenta que no podrían haber elegido mejor compañero.
            </p>
        </div>
    </div>
    <hr id="separador" />
    <div class="row">
        <div class="col-lg-2 col-lg-offset-1  hidden-xs hidden-sm">
            <img src="img/experiencia-de-voluntarios/geraldine-y-grimm.jpg" alt="" class="img-circle" width="250px" height="250px"/>
        </div>
        <div class="col-lg-7 col-lg-offset-1">
            <h1>Geraldine: <em>"Me traería a todos si tuviera una casa grande!"</em></h1>
            <p class="lead">
                “Lo que tengo para decir es que nunca había pensado en esta raza… Y desde que Grimm está conmigo, miro todos esos galgos que necesitan hogar y quisera traermelos a todos. Pienso que si tuviera mas perros, ahora siempre elegiría un galgo.
            </p>
            <p class="lead">
                Cuando paseamos con Grimm y me paran por la calle, a todo el mundo voy hablándole de lo bueno y dócil que es. No se si sera porque viene de años en un refugio, pero no tiene palabras para definir lo santo que es. Me acuerdo cuando siempre veía la página de Adopta y no me animaba a adoptar, ustedes justamente me contaron que eran perros muy tranquilos que podían estar bien en un dpto. Así que le fui consultando a amigos que no tienen nada que ver con uds… Y justamente tres personas me comentaban que algún profesor o algún conocido había tenido uno y ellos siempre lo veían tranquilo disfrutando de los mimos y un hogar.
            </p>
            <p class="lead">
                Cuando pensaba en tener un perro, debido a que vivo sola y en un dpto, obviamente solo pensaba en un perro chiquito..pero por esas bendiciones de la vida.,Grimm llegò a mi vida y puedo decir que tener un galgo es lo mas lindo que hay.
            </p>
            <p class="lead">
                Es obediente, super cariñoso, tranquilo, se adaptò super bien a un dpto chico..es un amor tenerlo, es la compañía que cualquiera quisiera querer!
            </p>
            <p class="lead">
                Yo dude mucho en tener perro porq estaba muy acostumbrada vivir sola y tener todo pulcro y perfecto, pero Grimm llegó a mi corazón y ahora èl me ayuda a mi a aprender a compartir el espacio y disfrutar de ser dos!
            </p>
            <p class="lead">
                No tengo dudas que los galgos son la mejor compañia perruna, de verdad que me traería a todos si tuviera una casa grande!”
            </p>
        </div>
    </div>
    <hr id="separador" />
    <div class="row">
        <div class="col-lg-2 col-lg-offset-1  hidden-xs hidden-sm">
            <img src="img/experiencia-de-voluntarios/paula-y-hipolito.jpg" alt="" class="img-circle" width="250px" height="250px"/>
        </div>
        <div class="col-lg-7 col-lg-offset-1">
            <h1>Paula: <em>"Siempre pensé que necesitarían mucho espacio..."</em></h1>
            <p class="lead">
                "Desde chica me gustaron los galgos pero siempre pensé que necesitarían mucho espacio. Hasta que decidí darme el gusto y me contacte con Adopta.
            </p>
            <p class="lead">
                Soy la adoptante de Hipolito, un gigante gentil bastante entrado en años. Es el ser más dulce que tuve en mi vida, busca mimos todo el tiempo, convive con mis pequeñas jack russell a la perfección y es muy tranquilo. Lo único que no puede faltarle es su sillón, en el que duerme unas 20 horas día!.
            </p>
            <p class="lead">
                Todos maravillosos, compañeros, cariñosos, dulces y tranquilos además de majestuosamente bellos."
            </p>
        </div>
    </div>
    <hr id="separador" />
    <div class="row">
        <div class="col-lg-2 col-lg-offset-1  hidden-xs hidden-sm">
            <img src="img/experiencia-de-voluntarios/mariel.jpg" alt="" class="img-circle" width="250px" height="250px"/>
        </div>
        <div class="col-lg-7 col-lg-offset-1">
            <h1>Mariel: <em>"La hermosa experiencia de Transitar."</em></h1>
            <p class="lead">
                "En mi caso en particular, toda la vida ame a los animales. Cuando me mude a esta zona los perros en casa se multiplicaron, algunos fueron en adopción y otros aún siguen con nosotros.
            </p>
            <p class="lead">
                Cuando conocí la ONG no sabía lo que significaba la palabra “tránsito”, fue así que sin saberlo “transite a Amma, Merlin, Bella; y Oz” una mamá y sus hermosos cachorros.
            </p>
            <p class="lead">
                Cuando Ale me llamó y me dijo que Bella estaba adoptada, no puede negar que me sentí totalmente desconcertada, me pregunte: “se va la bebe? A dónde? Va a estar bien?” Y la respuesta me tranquilizo: “La adoptante es una persona que ama a los animales tanto como vos y va a estar muy bien.” Confié en ellas y jamás me voy a arrepentir; es así que comencé este camino de tránsitos y adopciones.
            </p>
            <p class="lead">
                Comprobar que cada uno de ellos lo logra es una caricia al alma y no provoca otra cosa que lágrimas de emoción. Ese compromiso que se asume nos eleva a querer más, el amor son hechos y entonces en casa Hacemos lo que sabemos: amarlos, aun con nuestras falencias y limitaciones, los amamos.
            </p>
            <p class="lead">
                Animate a transitar!!!! Es un acto de amor!!!
            </p>
        </div>
    </div>
    <hr id="separador" />
    <div class="row">
        <div class="col-lg-2 col-lg-offset-1  hidden-xs hidden-sm">
            <img src="img/experiencia-de-voluntarios/mara.jpg" alt="" class="img-circle" width="250px" height="250px"/>
        </div>
        <div class="col-lg-7 col-lg-offset-1">
            <h1>Mara: <em>"Nunca estuvimos solos en esto."</em></h1>
            <p class="lead">
                Hace aproximadamente un año nos decidimos a sumar un perro a nuestra familia. Estaba claro que comprar no era opción, vimos diferentes ONG dedicadas a rescate de animales y así llegamos a ADOPTA UN GALGO EN ARGENTINA.
            </p>
            <p class="lead">
                Mi marido se enamoró de los galgos, su mirada y todo lo que se decía de ellos. Después de saber más y más historias, emocionarnos, enojarnos y ver cómo puede cambiarse la vida de un galgo, fuimos a un encuentro a “conocer solamente” y salimos anotados y perdidamente enamorados de Valentina quien hoy es parte de nuestra familia.
            </p>
            <p class="lead">
                Ella es la perra más maravillosa que uno puede tener solo que no sabe quedarse sola y llora mucho. Alguien nos recomendó un segundo perro. Nuestro departamento no es muy grande y yo no me encontraba convencida de traer a otro galgui. Así fue como decidimos empezar a transitar hace poco más de un mes. Hasta el momento transitamos bebés porque tenemos un gato y tenemos que estar seguros por él.            </p>
            <p class="lead">
                Primero llegó Renata (hoy Shiva) que se robó el corazón de toda mi familia y amigos. Me decían, “no vas a poder dejarla ir”, “seguro te la quedas, vas a ver”... Después vino el pequeño Renzo (hoy Fermin), un mini bebé que amaron desde el primer día y que “aseguraron” se iba a quedar en casa. Ahora, está con nosotros Pumba (hermano de Renzo), un bombón juguetón y mimoso lleno de alegría.
            </p>
            <p class="lead">
                ¿Si tuvimos miedos? Obvio, muchos..!!! Sobre todo porque nunca tuvimos cachorros y no sabíamos nada de ellos. Pero aprovechamos para agradecer a este maravilloso grupo humano que respondió cada duda que tuvimos. Nos ayudaron y dieron consejos. Siempre alguien nos contestó, nunca estuvimos solos en esto y eso hace todo más fácil.
            </p>
            <p class="lead">
                Shiva y Fermin hoy viven felices y con familia que los aman. Cuando se fueron, todos me decían, “yo no sé cómo haces para dejarlos ir”. Mi mama y mi hermana dicen que los extrañan y a cada uno le contesto lo mismo: “Ellos estarán en nuestro corazón para siempre, serán siempre parte de nuestra familia. Me llena el alma saber que colabore para que nunca más sufran. Ver sus fotos, amados, saber que comen, que están calentitos, que van al vete, que juegan y que son tratados como uno más de la familia. No me arrepiento de transitar y dar amor hasta que llega su familia definitiva. No descarto que un día, uno de ellos quede para siempre con nosotros. Lo que tengo claro es lo necesario que es transitar para lograr que todos sean GALGOS FELICES..!
            </p>
        </div>
    </div>
    <hr id="separador" />
    <div class="row">
        <div class="col-lg-2 col-lg-offset-1  hidden-xs hidden-sm">
            <img src="img/experiencia-de-voluntarios/ivana.jpg" alt="" class="img-circle" width="250px" height="250px"/>
        </div>
        <div class="col-lg-7 col-lg-offset-1">
            <h1>Ivana: <em>"Anímate a cambiarle la vida a un galgo!"</em></h1>
            <p class="lead">
                Comencé a transitar para Adopta un galgo hace casi dos años, mientras juntaba tapitas para otra ong conocí a Eugenia (fundadora de Tapitas para patitas) y mientras cargaba tapitas en el auto sale un hermoso perro, alto y flaco, pero con sus patas llenas de clavos, quede impresionada, y le pregunte ¿y este perro? Y ahí me contó la historia de todo el sufrimiento de los galgos, volví a mi casa conmocionada, realmente no conocía la historia detrás de los galgos.
            </p>
            <p class="lead">
                Rápidamente me comunique con adopta un galgo en argentina a través de facebook, ya tenía dos perros, pero como me había mudado a un departamento más grande y el tránsito era algo “temporal” decidí que podía transitar un galgo, y así fue como llegó Rafaela a mi vida, nunca me voy a olvidar el día que la bajaron del auto, su pelo desmejorado, un cuerito negro colgado de sus huesos y una mirada totalmente perdida.
            </p>
            <p class="lead">
                Los primeros días fueron difíciles, eran puros tarascones y gruñidos, y muchas visitas al veterinarios ya que costó horrores descubrir que parasito tenia que la estaba comiendo por dentro, luego de varios meses, de recuperarse, pasamos por un encuentro, por dos, por tres y nadie la elegía, ya que su color de pelo es negro y siempre son los últimos en ser elegidos, pero a mí ya me había conquistado el corazón y fue así como en el último encuentro, donde apareció una posible familia, yo no pude dejarla ir y es hasta el día de hoy que me acompaña.
            <p class="lead">
                Pero esto me parecía una decisión muy egoísta no podía dejar de pensar en todos los que aún necesitaban recuperarse, cuando pude mudarme a una casa más grande, comencé a transitar a muchos más, donde cuesta horrores cuando se van pero siempre queda la alegría de saber que pude ayudarlo, que llegan destrozados por dentro y por fuera, pero una vez que pasan por la puerta de mi casa, todo eso se terminó y acá comienza la vida nueva!
            </p>
            <p class="lead">
                Anímate a transitar, anímate a cambiarle la vida a un galgo!
            </p>
        </div>
    </div>
    <hr id="separador" />
    <div class="row">
        <div class="col-lg-2 col-lg-offset-1  hidden-xs hidden-sm">
            <img src="img/experiencia-de-voluntarios/micaela.jpg" alt="" class="img-circle" width="250px" height="250px"/>
        </div>
        <div class="col-lg-7 col-lg-offset-1">
            <h1>Micaela: <em>"Recomiendo transitar. Es una experiencia hermosa..."</em></h1>
            <p class="lead">
                Epezamos a transitar para Adoptá un galgo en Argentina hace un año y medio. La realidad es que con Pablo queríamos adoptar, pero nuestra situación económica y de vivienda no nos lo permitia, ya teníamos a Hela (pitbull) y a Cora (jack russell) y los dos gatos Gede y Greta; sumar uno más al plantel definitivo iba a ser un caos, así que optamos por ayudar transitando y de este modo sacarnos las ganas de tener un galgo en nuestra vida.
            </p>
            <p class="lead">
                Elegimos una ONG por primera vez en nuestra vida, siempre nos habíamos manejado de manera independiente, porque la poca seriedad de muchas asociaciones no nos convencían, pero Adoptá nos pareció muy seria (conociendolos porque mi tía ya había adoptado a Chloe).
            </p>
            <p class="lead">
                Llegó Potranca (ahora Afrika). Estuvo en tránsito tres meses, casi cuatro. Nos enamoró. Se metió dentro de nuestro corazón de sobremanera. Llegó con unos cuatro meses, con demodexia, dolores articulares por mala alimentación, cistitis, muy a la defensiva con los humanos (el primer día intentó morderme), con una inestabilidad emocional propia de un animal que no se crió en las condiciones adecuadas. Trabajamos sus problemas de comportamiento, vivimos en la veterinaria (TODO COSTEADO POR LA ONG), la alimentamos de lo lindo y empezó a transformarse en una diosa morocha. Potranca-Afrika fue adoptada, y ese día fue uno de los más tristes para nosotros, los humanos, y para Hela y Cora, que estuvieron una semana sin querer jugar. Lloramos mucho, lloramos todos. Lloro hasta mi familia, que la cuidaba cuando nosotros teníamos que irnos.
            <p class="lead">
                ¿NOS ARREPENTIMOS DESPUÉS DE ESO?, no!! jamás. Ver la transformación de un galgo maltratado, indefenso, triste, flaco, que no juega, que no es feliz a un galgo sano, contento, que se libera, que empieza a correr pero con los vientos de la libertad es de las experiencias más lindas que existen.
            </p>
            <p class="lead">
                Después vinieron a recuperarse a casa Eve, Buba (ahora Amellie), Guiday (ahora Canela), cuatro de los cachorros de Franchesca que llegaron con diez días y los criamos a mamadera (Bolivia ahora Vera, Perú ahora Tofu, Cuba ahora Cuba Libre y Guatemala ahora Bella), Yberá (aún en adopción) y Lihué (también aún en adopción).
            </p>
            <p class="lead">
                Recomiendo transitar. Es una experiencia hermosa, gratificante, llena el alma, ablanda el corazón, y nos hace entender la frase que siempre usamos cuando tienen que irse con su familia: si lx amas dejalx ser.
            </p>
            <p class="lead">
                Abrazo especial a mi viejo, que siempre nos lleva a todos lados y cuida a mis tránsitos cuando yo no puedo y también les regala alguna consulta o algún estudio veterinario. A mi vieja que también los cuida, los mima, les da cosas ricas de comer y nos regala alimento. A mis hermanos, que los cuidan y los miman en mi ausencia. A mi amiga Celeste que me apoya, me banca, me ayuda, me abraza, los pasea, los cuida, los ama como yo, me acompaña en toda esta locura. A Pablo que es incondicional, que le costó mucho pero entendió lo importante que es transitar y cambiarles la vida, y que entendió que tenemos que dejarlos ir. A mi amigo Nico, por llevarnos a la veterinaria y a los encuentros cuando papá no puede. A Adoptá un galgo en Argentina, por hacer que muchísimas vidas sean cambiadas por año.
            </p>
        </div>
    </div>
    <hr id="separador" />
    <div class="row">
        <div class="col-lg-2 col-lg-offset-1  hidden-xs hidden-sm">
            <img src="img/experiencia-de-voluntarios/lidia.jpg" alt="" class="img-circle" width="250px" height="250px"/>
        </div>
        <div class="col-lg-7 col-lg-offset-1">
            <h1>Lidia: <em>"Animate a transitar y ser parte de la transformación de un galgo."</em></h1>
            <p class="lead">
                Conocimos a adopta un galgo en el año 2011, cuando adoptamos a Rayuela y desde ese momento sentimos ganas de dar tránsito. Por una cosa u otra se fue postergando hasta que llegó Popea, una grandota hermosa, que fue adoptada y vive muy feliz con su familia.
            </p>
            <p class="lead">
                Luego llegó Aceituna (Tunny) ahí fue cuando tomamos clara conciencia de los maltratos que reciben nuestros queridos flacos, una perrita abatida, con terror a los humanos, costó mucho que se diera cuenta que el peligro ya había pasado, pero muy de a poco fue tomando confianza y se fué en adopción, pero no se adaptó y volvió a casa. Desde ese momento ya no pudimos dejarla ir, fue nuestra querida princesa rubia hasta que partió en enero de este año.
            </p>
            <p class="lead">
                Y ahora transitamos a Camelia, que llegó flaquita, triste, con demodexia y ahora parece otra perra! juega, pide mimos, disfruta de los paseos, es divina!
            <p class="lead">
                Transitando vas a ayudarlo a recuperar la confianza en sí mismo y con los demás. Con vos va a caminar los primeros pasos hacia la felicidad.
            </p>
            <p class="lead">
                Con vos va a conocer esa nueva vida lejos del maltrato, una camita limpia y calentita, comida rica, juguetes, mimos, caricias, una voz agradable que le hable, paseos!
            </p>
            <p class="lead">
                Y cuando se van en adopción te quedará la satisfacción de haberlo ayudado y que serás parte de su vida por siempre porque con vos conoció lo que es el amor.
            </p>
            <p class="lead">
                Animate! Sin hogares de tránsito no se puede seguir rescatando y hay muchos esperando!
            </p>
            <p class="lead">
                Agradezco a adopta un galgo por darme la posibilidad de vivir esta experiencia y por acompañarnos siempre con las consultas o dudas que podamos tener.
            </p>
        </div>
    </div>
</div>