<div class="container-fluid" ng-controller="GalgosEnAdopcion">
  <div class="row text-center">
    <div class="col-xs-12">
        <h1>Formulario Adopcion</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-lg-3">
        Nombre
    </div>
    <div class="col-xs-6 col-lg-3">
        <input type="text" name="nombre" value="">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-lg-3">
        Apellido
    </div>
    <div class="col-xs-6 col-lg-3">
        <input type="text" name="apellido" value="">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-lg-3">
        Fecha de nacimiento
    </div>
    <div class="col-xs-6 col-lg-3">
        <input type="date" name="fecha_nacimiento" value="">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-lg-3">
        Telefono
    </div>
    <div class="col-xs-6 col-lg-3">
        <input type="tel" name="telefono" value="">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-lg-3">
        Email
    </div>
    <div class="col-xs-6 col-lg-3">
        <input type="email" name="email" value="">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-lg-3">
        Ciudad
    </div>
    <div class="col-xs-6 col-lg-3">
        <input type="text" name="ciudad" value="">
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12">
        <input type="button" name="name" value="Enviar">
    </div>
  </div>
</div>
