<div class="row section" id="intro">
  <div class="col-xs-12 section-header">
    <h1>¿Cómo puedo ayudar?</h1>
    <p>
        Todos podemos aportar un granito de arena para la causa. Si no podes adoptar o transitar, te pedimos que difundas nuestros galguitos rescatados para que logren encontrar una buena familia, que los cuide y respete.
    </p>
  </div>
  <div class="section-body">
      <div class="row">
          <div class="col-xs-4">
            <div class="jumbotron text-center">
              <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
              <h2>Dar transito a un galgo</h2>
              <p>Hay muchos galgos buscando un hogar de transito donde poder recuperarse hasta ser adoptados.</p>
              <a class="btn btn-primary btn-lg" href="#" role="button">Mas informacion</a>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="jumbotron text-center">
              <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
              <h2>Adoptar o difundir</h2>
              <p>¡Conoce a nuestros galguitos en adopcion responsable! Si no podes adoptar difundelos.</p>
              <a class="btn btn-primary btn-lg" href="#" role="button">Quiero conocerlos</a>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="jumbotron text-center">
              <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
              <h2>Hacer una donacion</h2>
              <p>Aceptamos donaciones de dinero, alimento balanceado, medicamentos y mas.</p>
              <a class="btn btn-primary btn-lg" href="#" role="button">Saber más</a>
            </div>
          </div>
      </div>
        <div class="media">
          <div class="media-body">
            <h4 class="media-heading">¿Por què los Galgos?</h4>
            <p class="lead">Porque al mismo tiempo que son excelentes compañeros; leales, tranquilos, cariñosos;
                son una de las razas más maltratadas en varias partes del mundo. En España les dicen "perros de usar y tirar", y en Argentina no es diferente...</p>
                <p class="lead">
                    El que vio la mirada de un galgo, ha visto la bondad más pura. Ellos han sufrido toda su vida, pero no dudan en perdonarnos y darnos otra oportunidad cuando les mostramos que también somos capaces de dar cariño.
                </p>
                <p class="lead">
                    El Galgo necesita nuestra ayuda, se encuentra marginado y es todavía invisible ante la sociedad; invisible su sufrimiento e invisible a la hora de buscar un compañero para la familia; cuando el Galgo es el perro para compañía ideal.
                </p>
                <p class="lead">
                    Como dicen en España: "Poné un Galgo en tu vida", y te aseguro, que se te clavan en el corazón para siempre.
                </p>
          </div>
          <div class="media-right">
            <a href="#">
              <img class="media-object" src="img/adopcion/Yambao.jpg" alt="...">
            </a>
          </div>
        </div>
         <div class="row ultimos-rescates">
             <h1>Últimos rescates</h1>
            <div class="col-xs-2 col-xs-offset-1">
                <div class="ultimos-rescates-animal">
                    <img src="img/adopcion/Yambao.jpg" class="img-responsive" alt="" />
                    <span class="hembra">Sapina</span>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="ultimos-rescates-animal">
                    <img src="img/adopcion/Yambao.jpg" class="img-responsive" alt="" />
                    <span class="macho">Rolo</span>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="ultimos-rescates-animal">
                    <img src="img/adopcion/Yambao.jpg" class="img-responsive" alt="" />
                    <span class="hembra">Rupia</span>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="ultimos-rescates-animal">
                    <img src="img/adopcion/Yambao.jpg" class="img-responsive" alt="" />
                    <span class="hembra">Membrilla</span>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="ultimos-rescates-animal">
                    <img src="img/adopcion/Yambao.jpg" class="img-responsive" alt="" />
                    <span class="macho">Shun</span>
                </div>
            </div>
         </div>
  </div>
  <div class="section-footer">

  </div>
</div>
