<div class="row section" id="intro">
  <div class="col-xs-12 section-header">
    <h1>¿Cómo puedo ayudar?</h1>
    <p>
        Todos podemos aportar un granito de arena para la causa. Si no podes adoptar o transitar, te pedimos que difundas nuestros galguitos rescatados para que logren encontrar una buena familia, que los cuide y respete.
    </p>
  </div>
  <div class="section-body">
      <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="jumbotron text-center">
              <img src="img/icons/ico-transito.png" alt="Casa de transito" />
              <h2>Dar transito a un galgo</h2>
              <p>Hay muchos galgos buscando un hogar de transito donde poder recuperarse hasta ser adoptados.</p>
              <a class="btn btn-primary btn-lg" ui-sref="transitos" role="button">Mas informacion</a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="jumbotron text-center">
              <img src="img/icons/ico-corazon.png" alt="Adopta un galgo" />
              <h2>Adoptar o difundir</h2>
              <p>¡Conoce a nuestros galguitos en adopcion responsable! Si no podes adoptar difundelos.</p>
              <a class="btn btn-primary btn-lg" ui-sref="en-adopcion({filter: '*'})" role="button">Quiero conocerlos</a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="jumbotron text-center">
              <img src="img/icons/ico-donacion.png" alt="Ayudanos donando" />
              <h2>Hacer una donacion</h2>
              <p>Aceptamos donaciones de dinero, alimento balanceado, medicamentos y mas.</p>
              <a class="btn btn-primary btn-lg" ui-sref="donaciones" role="button">Saber más</a>
            </div>
          </div>
      </div>
        <div class="media">
          <div class="media-body">
            <h4 class="media-heading">¿Por què los Galgos?</h4>
            <p class="lead">Porque al mismo tiempo que son excelentes compañeros; leales, tranquilos, cariñosos;
                son una de las razas más maltratadas en varias partes del mundo. En España les dicen "perros de usar y tirar", y en Argentina no es diferente...</p>
                <p class="lead">
                    El que vio la mirada de un galgo, ha visto la bondad más pura. Ellos han sufrido toda su vida, pero no dudan en perdonarnos y darnos otra oportunidad cuando les mostramos que también somos capaces de dar cariño.
                </p>
                <p class="lead">
                    El Galgo necesita nuestra ayuda, se encuentra marginado y es todavía invisible ante la sociedad; invisible su sufrimiento e invisible a la hora de buscar un compañero para la familia; cuando el Galgo es el perro para compañía ideal.
                </p>
                <p class="lead">
                    Como dicen en España: "Poné un Galgo en tu vida", y te aseguro, que se te clavan en el corazón para siempre.
                </p>
          </div>
          <div class="media-right">
          </div>
        </div>
         <div class="row ultimos-rescates" ng-controller="ultimosRescates">
             <h1 class="titulo">Últimos rescates</h1>
            <div class="tarjeta-animal tarjeta-animal-home" ng-if="animales.length != 0" ng-class="" ng-repeat="animal in animales | limitTo:-5 | orderBy:'time':true">
                <a ui-sref="perfilAnimal({animalId: {{animal.id}}})" class="ultimos-rescates-animal">
                    <div class="squared-thumbnail">
                        <img src="{{ apiEndpoint }}/static{{ animal.fotos[0] }}" class="portrait" alt="Image"  loading-src/>
                      </div>
                    <span ng-class="{'m': 'macho', 'h': 'hembra'}[animal.genero]">{{animal.nombre}}</span>
                </a>
            </div>
            <div class="text-center" ng-if="animales.length == 0" >
                <h2>Cargando...</h2>
            </div>
            <div class="col-xs-12 text-center">
                <a class="btn btn-primary btn-lg btn-orange" ui-sref="en-adopcion({filter: '*'})" role="button">Ver todos</a>
            </div>
         </div>
  </div>
  <div class="section-footer">

  </div>
</div>
