<div class="main-menu" ng-controller="MainMenuController as vm">
    <div class="main-menu-top">
        <a href="https://www.facebook.com/adoptaungalgoenargentina/" target="_blank"><i class="fa fa-size_small fa-facebook" aria-hidden="true"></i></a>
        <a href="https://twitter.com/adoptaungalgo" target="_blank"><i class="fa fa-size_small fa-twitter" aria-hidden="true"></i></a>
        <a href="mailto:info@adoptaungalgoenargentina.com.ar" target="_blank"><i class="fa fa-size_small fa-envelope" aria-hidden="true"></i> info@adoptaungalgoenargentina.com.ar</a>
    </div>
    <nav class="navbar navbar-default ">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand sr-only" href="#">Adopta un galgo en Argentina</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
             <li><a ui-sref="home">Inicio</a></li>
            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nosotros <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a ui-sref="mision">Mision</a></li>
              <li><a ui-sref="not-found">Como trabajamos?</a></li>
              <li><a ui-sref="not-found">Experiencias de voluntarios</a></li>
              <li><a ui-sref="contacto">Contacto</a></li>
            </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">En Adopcion <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a ui-sref="en-adopcion({filter: '*'})">Todos</a></li>
                  <li><a ui-sref="en-adopcion({filter: 'a'})">Adultos</a></li>
                  <li><a ui-sref="en-adopcion({filter: 'c'})">Cachorros</a></li>
                  <li><a ui-sref="en-adopcion({filter: 'h'})">Hembras</a></li>
                  <li><a ui-sref="en-adopcion({filter: 'm'})">Machos</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Como ayudo? <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a ui-sref="transitos">Transitar</a></li>
                  <li><a ui-sref="donaciones">Donar</a></li>
                  <li><a ui-sref="not-found">Difundir</a></li>
                  <li><a href="https://www.facebook.com/ShopSolidarioAdoptaunGalgoenArgentina/?fref=ts" target="_blank">Comprar en el shop solidario</a></li>
                  <li><a ui-sref="not-found">Ofrecer traslados</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Multimedia <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a ui-sref="not-found">Antes y despues</a></li>
                  <li><a ui-sref="not-found">De los rescates</a></li>
                  <li><a ui-sref="not-found">Material para prensa</a></li>
                  <li><a ui-sref="not-found">Guias y descargas</a></li>
                  <li><a ui-sref="not-found">Galerias de imagenes</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tengo un galgo <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a ui-sref="not-found">Sobre la raza</a></li>
                  <li><a ui-sref="not-found">Los galgos y la salud</a></li>
                  <li><a ui-sref="not-found">Recomendaciones</a></li>
                </ul>
            </li>
            <li><a ui-sref="contacto">Contacto</a></li>
            <!-- <li><a ui-sref="register">Registro</a></li>
            <li><a ui-sref="login">Login</a></li>
            <li><a href="javascript:void(0)" ng-click="vm.logout()">Logout</a></li> -->
            <li class="main-menu-action"><a class="btn btn-primary btn-lg" href="#" role="button">Donar</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- <ul class="">

    </ul> -->

</div>
