<div class="perfil-animal">
    <div class="row">
        <div class="col-xs-12">
            <span class="perfil-animal-filtros">Filtrar por: <a ui-sref="en-adopcion">TODOS</a> | <a ui-sref="en-adopcion({filter: 'a'})">ADULTOS</a> | <a ui-sref="en-adopcion({filter: 'c'})">CACHORROS</a> | <a ui-sref="en-adopcion({filter: 'h'})">HEMBRAS</a> | <a ui-sref="en-adopcion({filter: 'm'})">MACHOS</a> </span>
        </div>
    </div>
    <div class="row" style="position:relative;">
        <div class="col-xs-1 perfil-animal-navigation">
            <span class="perfil-animal-navigation-prev"><a ui-sref="perfilAnimal({id: animal.id-1})" ng-show="animal.id > 1"><</a></span>
        </div>
        <div class="col-xs-5">
            <img src="{{ apiEndpoint }}/static{{ currentImage }}" alt="Foto de perfil de {{ animal.nombre }}" class="img-responsive perfil-animal-foto"/>
            <div class="row perfil-animal-thumbnails">
                <div class="col-xs-2" ng-repeat="foto in animal.fotos">
                    <img src="{{ apiEndpoint }}/static{{ foto }}" ng-click="showImage(foto)" alt="Foto de perfil de {{ animal.nombre }}" class="img-responsive perfil-animal-thumbnail"/>
                </div>
            </div>
        </div>
        <div class="col-xs-5">
            <h1 class="perfil-animal-nombre" ng-class="{'hembra':animal.genero=hembra}">{{ animal.nombre }}</h1>
            <p class="lead perfil-animal-desc">{{ animal.desc }}</p>
            <span><a class="btn btn-primary perfil-animal-boton-adoptar" ui-sref="formulario-adopcion({id: animal.id})" ui-sref-opts="{reload: true, notify: true}">Comenzar proceso de adopcion</a></span>
            <a href="#" class="perfil-animal-ayuda">¿Como es el proceso de adopcion?</a>
            <div class="perfil-animal-badges">
                <span class="badge perfil-animal-badge perfil-animal-badge-cachorro" ng-show="animal.etapa == 'c'">Cachorro</span>
                <span class="badge perfil-animal-badge perfil-animal-badge-cachorro" ng-show="animal.etapa == 'a'">Adulto</span>
                <span class="badge perfil-animal-badge perfil-animal-badge-hembra" ng-show="genero == 'h'">Hembra</span>
                <span class="badge perfil-animal-badge perfil-animal-badge-hembra" ng-show="genero == 'm'">Macho</span>
                <hr />
            </div>
            <div class="perfil-animal-compartir">
                <span class="perfil-animal-compartir-titulo">Comparte:</span>
                <span class="social-button social-button-whatsapp"><i class="fa fa-size_small fa-whatsapp" aria-hidden="true"></i></span>
                <span class="social-button social-button-facebook"><i class="fa fa-size_small fa-facebook" aria-hidden="true"></i></span>
                <span class="social-button social-button-twitter"><i class="fa fa-size_small fa-twitter" aria-hidden="true"></i></span>
                <span class="social-button social-button-google"><i class="fa fa-size_small fa-google" aria-hidden="true"></i></span>
                <span class="social-button social-button-email"><i class="fa fa-size_small fa-envelope" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="col-xs-1 perfil-animal-navigation">
            <span class="perfil-animal-navigation-next"><a ui-sref="perfilAnimal({id: animal.id+1})">></a></span>
        </div>
    </div>
    <div class="row perfil-animal-footer">
    <div class="col-xs-5 col-xs-offset-1">
        <div class="perfil-animal-texto">
            <h2 class="titulo">¿Como es el proceso de adopcion?</h2>
            <p>
                Primero sarasa  mayoría de las veces  nuestro contacto al resca primero sarasa  mayoría de las veces  nuestro contacto al resca primero sarasa  mayoría de las veces  nuestro contacto al resca primero sarasa  mayoría de las veces  nuestro contacto al resca
                Primero sarasa  mayoría de las veces  nuestro contacto al resca primero sarasa  mayoría de las veces  nuestro contacto al resca primero sarasa  mayoría de las veces  nuestro contacto al resca primero sarasa  mayoría de las veces  nuestro contacto al resca
            </p>
        </div>
    </div>
    <div class="col-xs-5">
        <div class="perfil-animal-texto">
            <h2 class="titulo">&nbsp;</h2>
            <p>
                Primero sarasa  mayoría de las veces  nuestro contacto al resca primero sarasa  mayoría de las veces  nuestro contacto al resca primero sarasa  mayoría de las veces  nuestro contacto al resca primero sarasa  mayoría de las veces  nuestro contacto al resca
                Primero sarasa  mayoría de las veces  nuestro contacto al resca primero sarasa  mayoría de las veces  nuestro contacto al resca primero sarasa  mayoría de las veces  nuestro contacto al resca primero sarasa  mayoría de las veces  nuestro contacto al resca
            </p>
        </div>
    </div>
</div>

</div>
