<div class="container-fluid seccion" id="formularioContacto">
  <div class="row text-center">
    <div class="col-xs-12">
        <h1>Politica de Privacidad</h1>
    </div>
  </div>
  <div class="row">
    <h2>Tu privacidad es prioridad.</h2>
    <p>
        Adopta un Galgo en Argentina no guarda informacion sobre tu actividad en nuestros servidores.
        Solo se guardara informacion en caso de rellenar un formulario de contacto o de adopcion, en tal caso siempre te lo informaremos y puedes pedirnos que eliminemos tu informacion
        de nuestro sistema contactandote con nosotros.
        Toda la informacion guardada en nuestros servidores esta bien protegida y no sera utilizada ni cedida a terceros sin tu autorizacion.
    </p>
    <p>
        Solo te pediremos acceso a tu cuenta de Facebook para poder publicar animales en adopcion en caso de que VOS quieras hacerlo.
        Utilizamos tambien el sistema de Google Analytics el cual nos ayuda a conocer la cantidad de visitas, secciones mas y menos populares a fin de mejorar tu experiencia en la web,
        pero no guardamos ninguna de esta informacion en nuestros servidores.
    </p>
  </div>
</div>
