<div class="seccion" id="subscribirse" ng-controller="subscribirse">
    <div class="row" id="comoAyudar" ng-class="{ 'processing' : procesando}">
      <div class="col-lg-2 col-lg-offset-1">
        <img class="img-circle" src="img/icons/Bank-icon.png" alt="Generic placeholder image" width="140" height="140">
      </div>
      <div class="col-lg-7 col-lg-offset-1  text-left">
          <h2>¿Querés ser “Amigo de los Galgos”?</h2>
          <p>Adopta un Galgo en Argentina desde hace muchos años lucha para rescatar y darle un hogar a los galgos descartados y abandonados en situación de maltrato extremo, brindándole atención veterinaria y todo lo necesario para devolverles la dignidad que siempre debieron tener.</p>
          <p>
              Nuestra intención es ayudar a muchos galguitos más pero a veces no nos es posible por falta de dinero, por eso te proponemos ser “Amigo de los Galgos” ayudándonos con una donación mensual, la que puedas, aunque te parezca pequeña, la suma de voluntades hace cosas increíbles!
          </p>
          <br>
          <form>
              <label>$&nbsp;&nbsp;</label><input step="50" size="5" ng-model="montoSubscripcion" type="number" />
              <br/> <br/>
              <a class="btn btn-lg btn-primary" href="#" role="button" id="botonVerde" ng-click="donarDeposito()">Subscribirse!</a>
          </form>
      </div>
    </div>
    </div>
</div>