<div class="container-fluid seccion" id="formularioContacto">
  <div class="row">
      <div class="col-sm-3 video-playlist">
          <div ng-repeat="video in videos" class="row video-item">
              <a ui-sref="videos({id: '{{video.id}}'})" class="media-left">
                  <div class="col-sm-12 text-center">
                      <img class="img-circle img-thumbnail" src="img/{{video.img}}" alt="Generic placeholder image">
                  </div>
                  <div class="col-sm-12 text-center">
                      <h4 class="media-heading">{{video.titulo}}</h4>
                  </div>
                  <!-- <div class="col-sm-12">
                      <p>
                          {{video.desc}}
                      </p>
                  </div> -->
              </a>
          </div>
      </div>
      <div class="col-sm-9">
          <div class="row text-center">
            <div  ng-if="!currentVideo" class="col-xs-12">
                <h1>Videos</h1>
            </div>
            <div ng-if="currentVideo" class="col-xs-12">
                <h1>{{currentVideo.titulo}}</h1>
            </div>
            <div class="video-player">
                <youtube-video video-url="videoUrl"></youtube-video>
            </div>
          </div>
      </div>
  </div>
</div>
